
@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";
@import "overlayscrollbars/overlayscrollbars.css";

@source "../../../content/**/*";

@theme static {
  /* Default font family */
  --font-sans: 'DM Sans', sans-serif;

  /* Customize font */
  --font-pacifico: 'Pacifico', sans-serif;
  --font-caveat: 'Caveat', sans-serif;

  /* Customize animation */
  --animate-heartbeat: heartbeat 1.5s linear infinite;
  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1)
    }
    10%,
    30% {
      transform: scale(.9)
    }
    20%,
    40%,
    60%,
    80% {
      transform: scale(1.1)
    }
    50%,
    70% {
      transform: scale(1.1)
    }
  }
}

/* Override default */
:root {
  --ui-header-height: --spacing(20);
}

/* Customize OS theme */
.os-theme-pacdocs {
  box-sizing: border-box;
  --os-size: 10px;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-track-border-radius: 10px;
  --os-handle-interactive-area-offset: 4px;
  --os-handle-border-radius: var(--ui-radius);

  /* Color */
  --os-handle-bg: var(--ui-text-dimmed);
  --os-handle-bg-hover: var(--ui-text-muted);
  --os-handle-bg-active: var(--ui-text-toned);
}
